*{
    box-sizing: border-box;
    margin: 0;
}
body{
  overflow-x: hidden;
}
.ocean{
  font-family: cursive;
  color: #DBA765 !important;
  font-size: 25px !important;
  cursor: pointer;
 }
.setcolor{
  color: #e29f46;
}
.dropdownData{
    background-color: white !important;
    border: none !important;
}
.dropdownData a:hover{
    color: #e8ad5f  !important;
}
.overdata{
    color: white;
}
.overdata a:hover{
    color: #e8ad5f !important;
}
.drophover{
    color: black !important;
}
.drophover:hover{
    color: white !important;
}
.navbar-toggler{
    border: none !important;
    color: #050404 !important;
}
.navbar-toggler-icon{
    color: white !important;
}
.fa-bars-staggered :hover{
    color: #e8ad5f !important;
}
.change_background{
    background-color: white !important;
}
/* animation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    position: relative;
    display: inline-block;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s, background 0.3s;
  }
  
  nav ul li a:hover {
    color: #fff;
    background: #333;
  }
  
  nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
  }
  
  nav ul li ul li {
    display: block;
    margin: 0;
  }
  
  nav ul li ul li a {
    color: #fff;
    padding: 10px 15px;
    transition: color 0.3s, background 0.3s;
  }
  
  nav ul li ul li a:hover {
    background: #555;
  }
  /* animation ocean */
  .text-container {
    text-align: center;
  }
  
  .animated-text {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #e8ad5f, 0 0 20px #e8ad5f, 0 0 30px #e8ad5f, 0 0 40px #e8ad5f, 0 0 70px #e8ad5f, 0 0 80px #e8ad5f, 0 0 100px #e8ad5f, 0 0 150px #e8ad5f;
    animation: neonGlow 1s ease-in-out infinite alternate;
  }
  
  @keyframes neonGlow {
    0% {
      text-shadow: 0 0 10px #e8ad5f, 0 0 20px #e8ad5f, 0 0 30px #e8ad5f, 0 0 40px #e8ad5f, 0 0 70px #e8ad5f, 0 0 80px #e8ad5f, 0 0 100px #e8ad5f, 0 0 150px #e8ad5f;
    }
    100% {
      text-shadow: none;
    }
  }
  /* form */
    h2 {
    color: #343a40;
  }
  form {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px #e29f46;
  }
  label {
    font-weight: bold;
    color: #343a40;
  }
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[ty] ,select:hover{
    box-shadow: 0px 0px 5px 0px #e29f46;
  }
  .mybutton {
    background-color: #e8ad5f !important;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .mybutton:hover {
    transition: 0.5s;
    color: white !important;
    background-color: black !important;
  }
  #errorMessage {
    color: red;
    display: none;
  }
  #bookingForm{
    margin: auto;
    max-width: 500px;
  }
/* hero section css */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.bii{
  color: white !important;
  font-size: 20px !important;
  padding: 2px !important;
} 
.bii:hover{
  color: #e8c494 !important ;
}
.hero-section {
  background-color: #f8f9fa;
  padding: 100px 0;
  text-align: center;
}

.hero-section h1 {
  font-size: 3rem;
  animation: fadeInUp 1s ease-out;
}

.hero-section p {
  font-size: 1.5rem;
  animation: fadeInUp 1s ease-out 0.5s;
}

/* footer css */

.bi{
  padding: 2px;
}
.bi:hover{
  color: #e8c494;
}
.fa-phone{
  color: #e8ad5f;
}
.fa-phone:hover{
  color: #e29f46;
}
/* hro section */
.hero-section {
  z-index: -1;
  margin-bottom: -80px;
  position: relative;
  height: 90vh;
  background: url('./images/hero-first.jpg') center/cover no-repeat; /* Replace 'hotel-image.jpg' with your image */
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.hero-content {
  opacity: 1;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.hero-content.show {
  opacity: 1;
  transform: translateY(0);
}
.welcome{
  text-shadow: 2px 2px 2px #e29f46 !important;
  font-size: 40px;
}
.hero_btn{
  background-color: transparent;
  color: #e29f46;
  border: 2px solid #e8ad5f;
  text-decoration: none;
  padding: 15px;
}
.hero_btn:hover{
  background-color: #e29f46;
  color: white;
  transition: 0.5s;
}
.submit_button{
  /* margin-top: 8px; */
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
}
.submit_button a{
  color: white !important;
  text-decoration: none;
}
.submit_button a :hover{
  color: white !important;
}
.submit_button:hover{
  background-color: #e29f46;
  color: white;
  transition: 1s;
}
/* extra services */
.change{
  background-color: #e8ad5f;
  color: white;
  border: none;
  padding: 10px;
}
.change:hover{
  background-color: black;
  transition: 1s;
}
img{
  opacity: 1;
}
img:hover{
  opacity: 0.8;
  box-shadow: 2px 2px 4px #555;
  transition: 1s ease-in;
}
.ser{
  display: flex;
  justify-content: center;
}
/* room */
.room-info {
  
  /* background-color: #f8f9fa; */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.room-info img{
  max-width: 500px;

}
.price{
  color: #e29f46;
}
.room-info h5 {
  margin-top: 0;
}

.room-info p {
  margin-bottom: 0;
}
.book-now-btn {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  background-color: #DBA765;
  color:white;
  text-decoration: none;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.book-now-btn:hover {
  color: white;
  background-color: #343a40;
}
/* chef  */
.chef-image-container {
  position: relative;
  overflow: hidden;
}

.chef-image-container img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.chef-image-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chef-image-container:hover .overlay {
  opacity: 1;
}

.chef-image-container:hover img {
  transform: scale(1.1);
}

.chef-image-container .text {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.chef-image-container .btn {
  padding: 10px 20px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.chef-image-container .btn:hover {
  background-color: #0056b3;
}


iframe{
  width: 100%;
  height: 400px;
}
/* footer */
footer{
  background-color: #171717;
  padding: 35px 0;
}

.single-content{
padding: 115px 0;
text-align: center;
}
.single-box p{
  color: #fff;
  line-height: 1.9;
}
.single-box h3{
  font-size: 16px; 
  font-weight: 700;
  color: #fff;
}
.single-box .card-area i{
  color: #fff;
  font-size: 28px;
  margin-left: 10px;
  cursor: pointer;
  
}
.single-box .card-area i:hover{
  background-color: #d19b54;
}
.single-box ul{
  list-style: none;
  padding: 0;
}
.single-box ul li a{
  text-decoration: none;
  color: #fff;
  line-height: 2.5;
  font-weight: 100;
  /* margin-left: 20px; */
}
.single-box h2{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  /* margin-left: 10px; */
}
.single-box h2:hover{
  color: #d19b54;
}
.form-control1{
  padding: 5px !important;
  border: none !important;
  outline:none;
}
.submit{
  background-color: #d19b54;
  color: white;
  border: none;
  /* border-radius: 2px; */
  padding: 7px;
  margin-left: 2px;
  width: 70px;
}
.socials i{
  font-size: 18px;
  margin-right: 15px;
  cursor: pointer;
}
.socials i:hover{
 color: #d19b54;
}
@media (max-width:767px) {
  .single-box{
      margin-bottom: 50px;
  }
}
@media (min-width:768px) and (max-width:991px){
  .single-box{
      margin-bottom: 50px;
  }
}
/* text-area */
#textToSpeak {
  width: 50%;
  resize: vertical; /* Allow vertical resizing of the textarea */
}
.speak{
  background-color: #d19b54;
  color: white;
  border: none;
  padding: 10px 15px;
}
.bookforroom{
  background-color: #DBA765 !important;
  text-decoration: none;
  padding: 10px;
}
.bookforroom:hover{
  background-color: #343a40 !important;
  transition: 1s;
  border-radius: 4px;
}