*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* navigation start */
.ocean{
    font-family: cursive;
    color: #DBA765 !important;
    font-size: 25px !important;
 }
 .dropdownData{
    background-color: white !important;
    border: none !important;
 }
 .dropdownData a:hover{
    color:#DBA765  !important;
 }
 .overdata{
    color: white;
 }
 .overdata a:hover{
    color: #DBA765 !important;
 }
 .drophover{
    color: black !important;
 }
 .drophover:hover{
    color: white !important;
 }
 .navbar-toggler{
    border: none !important;
    color: #050404 !important;
 }
 .navbar-toggler-icon{
    color: white !important;
 }
 .fa-bars-staggered :hover{
    color: #DBA765 !important;
 }
 .change_background{
    background-color: white !important;
 }
 /* animation */
 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    position: relative;
    display: inline-block;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s, background 0.3s;
  }
  
  nav ul li a:hover {
    color: #fff;
    background: #333;
  }
  
  nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
  }
  
  nav ul li ul li {
    display: block;
    margin: 0;
  }
  
  nav ul li ul li a {
    color: #fff;
    padding: 10px 15px;
    transition: color 0.3s, background 0.3s;
  }
  
  nav ul li ul li a:hover {
    background: #555;
  }
  /* animation ocean */
  .text-container {
    text-align: center;
  }
  
  .animated-text {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #DBA765, 0 0 20px#DBA765, 0 0 30px #DBA765, 0 0 40px #DBA765, 0 0 70px #DBA765, 0 0 80px #DBA765, 0 0 100px #DBA765, 0 0 150px #DBA765;
    animation: neonGlow 1s ease-in-out infinite alternate;
    cursor: pointer;
  }
  
  @keyframes neonGlow {
    0% {
      text-shadow: 0 0 10px #DBA765, 0 0 20px #DBA765, 0 0 30px #DBA765, 0 0 70px #DBA765, 0 0 80px #DBA765, 0 0 100px #DBA765 0 0 150px #DBA765;
    }
    100% {
      text-shadow: none;
    }
  }
  /* navigation ebd */
/* bg start */
.bg{
    height: 400px;
    width: 100%;
    background-image: url('./images/slider1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}    
.btext{
    color: white;
    font-size: 45px;
    padding-top: 130px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* padding-bottom: -5px !important; */
}

.btext1{
    color: white;
    font-size:13px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
   letter-spacing: 3px;
   margin-top: -20px !important;
}
.icon{
    color: white;
    font-size: 8px;
    padding-left: 10px;
    padding-right: 5px;

}
/* end */
.Gallery{
 
    height: 400px;
    margin-top: 40px !important;
    margin-left: 280px;
    width: 450px !important;
}

.Gallery1{

    height: 400px;
    margin-top: 40px !important;
    margin-left: 50px;
    margin-right: 250px;
    width:450px !important;
}
.Gallery2{
   /* background-color: #050404; */
   height: 130px;
    margin-top: 60px !important;
    margin-left: 280px;
    width: 450px !important;
}
.Gallery3{
    height: 3px;
    width: 50px;
    background-color: #DBA765;
}
.Gtext{
    /* font-family: 'Times New Roman', Times, serif; */
    padding-top: 10px;
    font-size: 12px;
}
.Gtext1{
    font-family: 'Times New Roman', Times, serif;
   margin-top: -10px;
    
}
.Gallery4{
    height: 130px;
    width: 450px !important;
    margin-top: 60px !important;
    margin-left: 50px;
  
}
.Gtext2{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
/* end */
.g{
    display: flex;
    flex-wrap: wrap;
}
.g1{
    margin-top: 50px !important;
    margin-left: 270px;
    background-image: url('./images/1\ -\ Copy.jpg');
    height: 350px;
    width: 240px;
    background-size: cover;
    background-repeat: no-repeat;
}
.g2{
    top: 320px;
    right: -260px !important;
    background-image: url('./images/4\ -\ Copy.jpg');
    height: 200px;
    width:330px;
    background-size: cover;
    background-repeat: no-repeat;
}
.g3{
    height: 170px;
    width:150px;
    margin-top: 80px;
    background-image: url('./images/2\ -\ Copy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left:18px;
}
.g4{
    /* background-color: #050404; */
    height: 500px;
    width: 430px;
    margin-left: 100px;
    margin-top: 50px;
}
.Gtext3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
.Gtext4{
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    padding-top: 15px;
    text-align: justify;
}
footer{
    background-color: #171717;
    padding: 35px 0;

}

.single-content{
 padding: 115px 0;
 text-align: center;
}
.single-box p{
    color: #fff;
    line-height: 1.9;
}
.single-box h3{
    font-size: 16px; 
    font-weight: 700;
    color: #fff;
}
.single-box .card-area i{
    color: #fff;
    font-size: 28px;
    margin-left: 10px;
    cursor: pointer;
    
}
.single-box .card-area i:hover{
    background-color: #d19b54;
}
.single-box ul{
    list-style: none;
    padding: 0;
}
.single-box ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 2.5;
    font-weight: 100;
    /* margin-left: 20px; */
}
.single-box h2{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    /* margin-left: 10px; */
}
.single-box h2:hover{
    color: #d19b54;
}
.form-control1{
    padding: 5px;
    border: none;
    outline: none;
}
.submit{
    background-color: #d19b54;
    color: white;
    border: none;
    /* border-radius: 2px; */
    padding: 7px;
    margin-left: 2px;
    width: 70px;
}
.socials i{
    font-size: 18px;
    margin-right: 15px;
    cursor: pointer;
}
.socials i:hover{
   color: #d19b54;
}

@media (max-width:767px) {
    .single-box{
        margin-bottom: 50px;
    }
    

}
@media (min-width:768px) and (max-width:991px){
    .single-box{
        margin-bottom: 50px;

    }
}
/* media query */
@media screen  and (max-width:1440px){
    .Gallery{
        margin-left: 250px !important;
    }
    .Gallery1{
        margin-right:150px !important;
    }
    .Gallery2{
        margin-left: 250px !important;
    }
    .Gallery4{
        margin-right:150px !important;
    }
    .g1{
        margin-left:250px !important ;
    }
}
@media screen  and (max-width:1280px){
    .Gallery{
        margin-left: 170px !important;
    }
    .Gallery1{
        margin-right:50px !important;
        margin-left: 20px;
    }
    .Gallery2{
        margin-left: 170px !important;
    }
    .Gallery4{
        margin-right:50px !important;
     
        margin-left: 20px;
    }
    
    .g1{
        margin-left: 170px !important;
    }
    .g4{
        margin-left: 60px !important;
    }
}
@media screen  and (max-width:1024px){
    .Gallery{
        margin-left: 50px !important;
        width:420px !important ;
    }
    .Gallery1{
        margin-right:50px !important;
        margin-left: 20px !important;
        width:420px !important ;
    }
    .Gallery2{
        margin-left: 50px !important;
        width:420px !important ;
    }
    .Gallery4{
        margin-right:50px !important;
        width:420px !important ;
        margin-left: 20px !important;
    }
    .g1{
        margin-left: 50px !important;
    }
    .g4{
        margin-left: 60px !important;
    }
}
@media screen  and (max-width:915px){
    .Gallery{
        margin-left: 50px !important;
        width:380px !important ;
    }
    .Gallery1{
        margin-right:50px !important;
        margin-left: 20px !important;
        width:380px !important ;
    }
    .Gallery2{
        margin-left: 50px !important;
        width:380px !important ;
    }
    .Gallery4{
        margin-right:50px !important;
        width:380px !important ;
        margin-left: 20px !important;
    }
    .g1{
        margin-left: 50px !important;
        width: 200px !important;
    }
    .g2{
       width: 180px !important;
    }
    .g3{
        width: 120px !important;
     }
    .g4{
        margin-left: 80px !important;
        width: 380px !important;
  
    }
}
@media screen  and (max-width:825px){
    .Gallery{
        margin-left:20px !important;
        width: 320px !important;
        height: 350px !important;
    }
    .Gallery1{
        margin-right:20px !important;
        margin-left: 15px;
        width:320px !important;
        height: 350px !important;
    }
    .Gallery2{
        margin-left:20px !important;
        width: 350px !important;
    }
    .Gallery4{
        margin-right:20px !important;
        /* margin-left: 15px; */
        width:300px !important;
        padding-left: 0px !important;
    }
    .g1{
        margin-left: 20px !important;
        height:350px !important;
        width: 180px !important;
        margin-top: 60px !important;
      
    }
    .g3{
        margin-left: 10px !important;
        height:150px !important;
        width: 120px !important;
    }
    .g2{
        width: 250px;
        height: 150px;
        top:280px;
    }
    .g4{
        margin-left: 40px !important;
        width: 320px !important;
    
        margin-top: 50px !important;
    }
    .Gtext3{
        font-size: 12px;
    }
    .Gtext4{
        font-size: 12px;
     
    }
    .Gtext2{
        font-size: 12px;
    }
}
@media screen  and (max-width:1024px){
    .Gallery{
        margin-left: 50px !important;
    }
    .Gallery1{
        margin-right:50px !important;
        margin-left: 20px;
    }
    .Gallery2{
        margin-left: 50px !important;
    }
    .Gallery4{
        margin-right:50px !important;
     
        margin-left: 20px;
    }
    .g1{
        margin-left: 50px !important;
    }
    .g4{
        margin-left: 60px !important;
    }
}
@media screen  and (max-width:855px){
    .Gallery{
        margin-left:40px !important;
        width: 350px !important;
    }
    .Gallery1{
        margin-right:40px !important;
        margin-left: 15px;
        width:350px !important;
    }
    .Gallery2{
        margin-left:40px !important;
        width: 350px !important;
    }
    .Gallery4{
        margin-right:20px !important;
        margin-left: 15px;
        width:350px !important;
    }
    .g1{
        margin-left: 20px !important;
        height:300px !important;
        width: 180px !important;
        margin-top: 60px !important;
      
    }
    .g3{
        margin-left: 10px !important;
        height:150px !important;
        width: 120px !important;
    }
    .g2{
        width: 250px;
        height: 150px;
        top:280px;
    }
    .g4{
        margin-left: 80px !important;
        width: 320px !important;
       
        margin-top: 60px !important;
    }
    .Gtext3{
        font-size: 12px;
    }
    .Gtext4{
        font-size: 12px;
     
    }
}
@media screen  and (max-width:770px){
    .Gallery{
        margin-left:20px !important;
        width: 350px !important;
    }
    .Gallery1{
        margin-right:20px !important;
        margin-left: 15px;
        width:350px !important;
    }
    .Gallery2{
        margin-left:20px !important;
        width: 350px !important;
    }
    .Gallery4{
        margin-right:20px !important;
        margin-left: 15px;
        width:350px !important;
    }
    .g1{
        margin-left: 20px !important;
        height:300px !important;
        width: 180px !important;
        margin-top: 60px !important;
      
    }
    .g3{
        margin-left: 10px !important;
        height:150px !important;
        width: 120px !important;
    }
    .g2{
        width: 250px;
        height: 150px;
        top:280px;
    }
    .g4{
        margin-left: 40px !important;
        width: 320px !important;
    
        margin-top: 50px !important;
    }
    .Gtext3{
        font-size: 12px;
    }
    .Gtext4{
        font-size: 12px;
     
    }
}

@media screen  and (max-width:550px){
    .Gallery{
        margin-left:80px !important;
        width: 380px !important;
    }
    .Gallery1{
        margin-left:80px !important;
        width: 380px !important;
    }
    .Gallery2{
        margin-left:80px !important;
        width: 350px !important;
        height: 40px;
    }
    .Gallery4{
        margin-right:20px !important;
        margin-left:  85px !important;
        width:350px !important;
     
    }
    .g1{
        margin-left:  80px !important;
        width: 200px !important;
    }
    .g2{
        width: 250px !important;
    }
    .g4{
        margin-top: 80px !important;
        margin-left: 80px !important;
        height: 400px;
    }
}
@media screen  and (max-width:435px){
    .Gallery{
        margin-left:20px !important;
        width: 380px !important;
    }
    .Gallery1{
        margin-left:20px !important;
        width: 380px !important;
    }
    .Gallery2{
        margin-left:20px !important;
        width: 350px !important;
        height: 40px;
    }
    .Gallery4{
        margin-right:30px !important;
        margin-left:30px !important;
        width:350px !important;
        
    }
    .g4{
        margin-top: 80px !important;
        margin-left: 20px !important;
        height: 400px;
    }
    .g1{
        margin-left:20px !important;
    }
}

@media screen  and (max-width:415px){
    .Gallery{
        margin-left:30px !important;
        width: 340px !important;
    }
    .Gallery1{
        margin-left:30px !important;
        width: 340px !important;
    }
    .Gallery2{
        margin-left:30px !important;
        width: 350px !important;
        height: 40px;
    }
    .Gallery4{
        margin-right:10px !important;
        margin-left: 35px !important;
        width:300px !important;
    }
    .g4{
        width: 310px !important;
        margin-left: 30px !important;
    }
    .g1{
        margin-left: 30px !important;
        width: 150px !important;
    }
}
@media screen  and (max-width:365px){
    .Gallery{
        margin-left:10px !important;
        width: 340px !important;
    }
    .Gallery1{
        margin-left:10px !important;
        width: 340px !important;
    }
    .Gallery2{
        margin-left:10px !important;
        width: 350px !important;
        height: 40px;
    }
    .Gallery4{
        margin-right:10px !important;
        margin-left: 15px;
        width:350px !important;
    }
    .g4{
        width: 310px !important;
    }
}
@media screen  and (max-width:395px){
    .Gallery{
        margin-left:10px !important;
        width: 340px !important;
    }
    .Gallery1{
        margin-left:10px !important;
        width: 340px !important;
    }
    .Gallery2{
        margin-left:10px !important;
        width: 340px !important;
        height: 40px;
    }
    .Gallery4{
        margin-right:30px !important;
        margin-left: 15px !important;
        width:330px !important;
    }
    .g4{
        width: 280px !important;
        
        height: 450px !important;
    }
}
@media screen  and (max-width:320px){
    .Gallery{
        margin-left:10px !important;
        width: 300px !important;
    }
    .Gallery1{
        margin-left:10px !important;
        width: 300px !important;
    }
    .Gallery2{
        margin-left:20px !important;
        width: 350px !important;
        height: 40px;
    }
    .Gallery4{
        margin-right:0px !important;
        margin-left: 10px;
        width:300px !important;
    }
    .g1{
        margin-top: 70px !important;
        margin-left: 10px !important;
        width:150px !important;
    }
    .g3{
        margin-top: 100px !important;
    }
    .g2{
        width: 200px !important;
        right: -100px !important;
    }
    .g4{
        height: 450px !important    ;
    }
}
@media screen  and (max-width:285px){
    .Gallery{
        margin-left:0px !important;
        width: 300px !important;
    }
    .Gallery1{
        margin-left:0px !important;
        width: 300px !important;
    }
    .Gallery2{
        margin-left:0px !important;
        width: 350px !important;
        height: 40px;
    }
    .Gallery4{
        margin-right: 30px !important;
        margin-left: 10px !important;
        width:250px !important;
       
    }
    .g1{
        margin-top: 70px !important;
        margin-left: 0px !important;
        width:120px !important;
        height: 200px !important;
    }
    .g3{
        margin-top: 80px !important;
        width: 100px !important;
    }
    .g2{
        width: 140px !important;
        right: -100px !important;
        top: 180px !important;
        height: 100px !important;
    }
    .g4{
        height: 490px !important    ;
      
        margin-left: 5px !important;
    }
   
    .Gtext2{
        font-size: 12px !important;

    }
}